In [19]:
#Regular Expressions -- Assignment 1
#Import necessary libraries
import pandas as pd
import regex as re

In [17]:
#1-Python program to replace all the occurences of a space, comma and dot with a colon.
string="Smile! you are full of positive, good and productive vibes."
result=re.sub(r"[ ,.]",":",string)
print(result)
string="Phyton Excercise, PHP Excercises"
result=re.sub(r"[ ,.]",":",string)
print(result)

Smile!:you:are:full:of:positive::good:and:productive:vibes:
Phyton:Excercise::PHP:Excercises

In [20]:
#2-Create a dataframe using the dictionary below and remove everything except words.
Dictionary=pd.DataFrame({'SUMMARY': ['hello,world!','XXXXX test','123four,five:;six...']})
Dictionary
Dictionary['SUMMARY']=Dictionary['SUMMARY'].str.replace('[^a-z\s]',' ', regex=True)
Dictionary

                SUMMARY
0          hello world
1                  test
2     four five  six

In [21]:
#3-Create a function in python to find all words that are at least 4 characters long in a string.
#re.compile()mandatory
def find_all_words(string):
    pattern=re.compile(r"\b\w{4,}\b")
    result=pattern.findall(string)
    return result

In [22]:
string="Everyone wants to be happy.Ignite your soul with the power of positive thinking."
outcome=find_all_words(string)
print(outcome)

['Everyone', 'wants', 'happy', 'Ignite', 'your', 'soul', 'with', 'power', 'positive', 'thinking']

In [23]:
#4-Create a function in python to find all words that are 3,4 and 5 characters long in a string.
#re.compile()mandatory
def find_words(string):
    pattern=re.compile(r"\b\w{3,5}\b")
    match=pattern.findall(string)
    return match

In [24]:
string1="The greatest win is walking away and choosing not to engage in drama and toxic energy at all."
outcome=find_words(string1)
print(outcome)

['The', 'win', 'away', 'and', 'not', 'drama', 'and', 'toxic', 'all']

In [25]:
#5-Create a function in Python to remove the parenthesis in a list of strings.
#The use of the re.compile() method is mandatory.
def remove_paren(string):
    pattern=re.compile(r"[()]")
    for msg in string:
        match=re.sub(pattern,"",msg)
        print(match,"\n")

In [26]:
string=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello (Data Science World)","Data (scientist)"]
result=remove_paren(string)

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data scientist

In [27]:
#6-Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
#string="example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"
import regex as re
with open("/Users/maha/Desktop/Sample_txt.txt") as file:

    for line in file:
        result=re.sub(r' ?\([^)]+\)*',"",line)
        print(result)

["example","hr@fliprobo","github","Hello","Data"]

In [28]:
#7-Write a regular expression in Python to split a string into uppercase letters.
import regex as re
string="ImportanceOfRegularExpressionsInPython"
result=re.findall(r'([A-Z][^A-Z]*)',string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [29]:
#8-Create a function in python to insert spaces between words starting with numbers.
def format_string(string):
    pattern=r'(\d+)([A-Za-z]+)'
    match=re.sub(pattern,r' \1\2',string)
    return match
    
        
string="RegularExpression1IsAn2ImportantTopic3InPython"
result=format_string(string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [142]:
#9-Create a function in python to insert spaces between words starting with capital letters or with numbers.
sample_txt="RegularExpression1IsAn2ImportantTopic3InPytho"
def format_string1(string):
    pattern=r'(\[A-Z][a-z0-9]+|\d+)'
    match=re.sub(pattern,r' \1',string)
    return match

result=format_string1(sample_txt)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPytho

In [30]:
#10-Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [31]:
df.shape

(158, 12)

In [32]:
df['first_five_letters']=df['Country'].apply(lambda x:x[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [33]:
#11-Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

def match_string(string):
    pattern=r'([A-Za-z0-9]_)'
    if re.search(pattern,string):
        print("Match")
    else:
        print("No Match")
              
string="Today is the big day, we are in our 4th month APRIL_2024"
string1="DATA SCIENCE IS A COMPLEX SUBJECT."
string2="123456789"
match_string(string)
match_string(string1)
match_string(string2)

Match
No Match
No Match

In [52]:
#12-Write a Python program where a string will start with a specific number. 
def match_number(string):
    #pattern=re.compile(r'^[0-9]')
    pattern=re.compile(r'^9')
    if pattern.match(string):
        print("The string starts with a specific number.")
    else:
        print("The string doesnt start with a specific number.")

        
string="5 nights stay in a wonderful resort."
string1="9876545678"
string2="Let us be happy and make others happy."
match_number(string)
match_number(string1)
match_number(string2)

The string doesnt start with a specific number.
The string starts with a specific number.
The string doesnt start with a specific number.

In [197]:
#13- Write a Python program to remove leading zeros from an IP address
import re
ip_ad="216.09.098.198"
result=re.subn('.\^0*\d+','',ip_ad)
print(ip_ad)

216.09.098.198

In [66]:
#14-Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file. :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
#sample_text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
import re
with open("/Users/maha/Desktop/august_file.txt",'r') as file:
     for line in file:
        pattern=r"\b[ August|June|July]*\b\d{1,2}(?:st|nd|rd|th)? \d{4}"
        date_match=re.findall(pattern,line)
        print(date_match)

[' August 15th 1947']

In [67]:
#15-Write a Python program to search some literals strings in a string. 
string="The quick brown fox jumps over the lazy dog."
patterns=['fox','dog','horse']
for match in patterns:
    print("Matching out %s in \n'%s' "%(match,string),)
    if re.search(match, string):
        print("Perfect Match")
    else:
        print("No Match Found")

Matching out fox in
'The quick brown fox jumps over the lazy dog.'
Perfect Match
Matching out dog in
'The quick brown fox jumps over the lazy dog.'
Perfect Match
Matching out horse in
'The quick brown fox jumps over the lazy dog.'
No Match Found

In [109]:
#16-Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
string="The quick brown fox jumps over the lazy dog."
pattern='fox'
result=re.finditer(pattern,string)
for match_obj in result:
    print(match_obj)

<regex.Match object; span=(16, 19), match='fox'>

In [68]:
#17-Write a Python program to find the substrings within a string.
string="Python exercises, PHP exercises, C# exercises"
pattern='exercises'
result=re.findall(pattern,string)
print(result)

['exercises', 'exercises', 'exercises']

In [69]:
#18-Write a Python program to find the occurrence and position of the substrings within a string.
string="Python exercises, PHP exercises, C# exercises"
pattern='exercises'
result=re.finditer(pattern,string)
for match_obj in result:
    print(match_obj)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

In [70]:
#19-Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
def change_date_format(date):
    substitute_date=re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',date)
    return substitute_date

date= input('Enter the date to be converted in yyyy-mm-dd format: ')
print("New converted date format dd-mm-yyyy :  ", change_date_format(date))

Enter the date to be converted in yyyy-mm-dd format: 2024-04-26
New converted date format dd-mm-yyyy :   26-04-2024

In [73]:
#20-Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
import regex as re
def precision_deci_numbers(string):
    pattern=re.compile(r'\d{2,3}\.\d{1,2}')
    decimal_num=re.findall(pattern,string)
    return decimal_num
                       
string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result=precision_deci_numbers(string)
print(result)

['01.12', '132.12', '145.8', '27.25']

In [72]:
#21-Write a Python program to separate and print the numbers and their position of a given string.
import re
string=" 20 years from now you will be more disappointed by the things you didn't do than by the ones you did, live the moment and take the chances, live 100%"
for msgs in re.finditer(r'\d+',string):
        print(msgs.group())
        print("Position: ",msgs.start())

20
Position:  1
100
Position:  146

In [74]:
#22-Write a regular expression in python program to extract maximum/largest numeric value from a string.
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
values=re.findall(r"\d+",string)
values=[int(int_values) for int_values in values]
max_value=max(values)
print(" Maximum marks scored in this semester is ",max_value)

 Maximum marks scored in this semester is  950

In [75]:
#23-Create a function in python to insert spaces between words starting with capital letters.
import re
def word_format(string):
    space_string=re.sub(r'(\w)([A-Z])',r'\1 \2',string)
    print(space_string)

string="RegularExpressionsIsAnImportantTopicInPython"
word_format(string)

Regular Expressions Is An Important Topic In Python

In [76]:
#24-Python regex to find sequences of one upper case letter followed by lower case letters.
string="Regular Expressions Is An Important Topic In Python PERFECT 12retreat."
result=re.findall(r'[A-Z]+[a-z]+',string)
print(result)

['Regular', 'Expressions', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [77]:
#25-Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
string1="Hello Hello Data Science World World."
regex=r'\b(\w+)(?:\W+\1\b)+'
result=re.sub(regex,r'\1',string1)
print(result)

Hello Data Science World.

In [78]:
#26-Write a python program using RegEx to accept string ending with alphanumeric character.
import re
regex_pattern=r'[a-zA-Z0-9]$'
def check_string(string):
    if(re.search(regex_pattern,string)):
        print(f"Accept",string)
    else:
        print(f"Not Accepted",string)

string="My name is Manasa123"
string1="123datascience@"
check_string(string)
check_string(string1)

Accept My name is Manasa123
Not Accepted 123datascience@

In [79]:
#27-Write a python program using RegEx to extract the hashtags.
string="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result=re.findall(r'#\w+',string)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [214]:
#28-Write a python program using RegEx to remove <U+..> like symbols
string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
result=re.sub(r'(<U\+\w{4}>)','',string)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [84]:
#29-.Write a python program to extract dates from the text stored in the text file.
#string="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
import re
with open("/Users/maha/Desktop/date_text_file.txt")as file:
    for line in file:
        date_match=re.findall(r'\d{2}-\d{2}-\d{4}+',line)
        print(date_match)

['12-09-1992', '15-12-1999']

In [86]:
#30-Create a function in python to remove all words from a string of length between 2 and 4.
string="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

def remove_words(string):
    result=re.sub(r'\W*\b\w{2,4}\b',"",string)
    print(result)

remove_words(string)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [87]:
print("END OF ASSIGNEMNT")

END OF ASSIGNEMNT